/* Dark Mode - Custom Property Variables*/
:root {
  --bg: rgb(18, 18, 18);
  --card: rgb(36, 36, 36);
  --text: rgb(230, 230, 230);
  --accent: rgb(165, 150, 230);
  --danger: rgb(255, 110, 110);
  --border: rgb(68, 68, 68);
  --shadow: rgba(0, 0, 0, 0.25);
}

/* Light Mode - Custom Property Variables*/
body.light {
  --bg: rgb(230, 230, 230);
  --card: rgb(255, 255, 255);
  --text: rgb(45, 45, 45);
  --accent: rgb(70, 40, 230);
  --danger: rgb(217, 48, 37);
  --border: rgb(187, 187, 187);
  --shadow: rgba(0, 0, 0, 0.1);
}

body {
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: background 0.25s, color 0.25s;
}

.container {
  max-width: 480px;
  margin: 48px, auto, 48px, auto;
  padding: 0, 16px, 0, 16px;
}
